<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<section class="section-main">
      <div class="first_row">
                       <h2 class="atteywalebaba_Name"> © 2021 Attaywalebaba.com
                       <p class="all-right-reserve">All Right Reserve </p>
                       </h2>
               
      </div>

      <div class="link_styles">
            <div class="item"><a href="#">CAREER POINT</a></div>
            <div class="item"><a href="#">BPO SECTION</a></div>
            <div class="item"><a href="#">DELIVERY SERVICE</a></div>
            <div class="item"><a href="#">TERMS AND CONDITION</a></div>
            <div class="item"><a href="#">PRICY AND POLICY</a></div>

      
      </div>

      <div class="third_row">
                  
           <div style="display: flex; justify-content: center; align-items: center;">
                 <div class="icon_style"><a class="facebook"  href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></div>
                 <div class="icon_style"><a class="icon twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
                 <div class="icon_style"><a class="icon instagram" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
                 <div class="icon_style"><a class="icon youtube" href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></div>
           </div>
            
      </div>
</section>















<!-- 


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<section class="section-main">
      <div class="footer">
            <div class="companyname">© 2021 Attaywalebaba.com</div>
      </div>
      <div class="footer">
          
      <ul class="footer-link">
            <li class="item"><a href="#">CAREERS</a></li>
            <li class="item"><a href="#">BPO</a></li>
            <li class="item"><a href="#">DELIVERY SERVICE</a></li>
            <li class="item"><a href="#">TERMS AND CONDITION</a></li>
            <li class="item"><a href="#">PRICY AND POLICY</a></li>
      </ul>   
      </div>
      <div class="footer">
            <a class="icon" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a class="icon" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a class="icon" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a class="icon" href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
      </div>
</section> -->





















<!-- 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
          <footer class="footer-container">
              <div >
                          <div class="first-div" >
                                Attaywalebaba.com
                          </div>
                          <hr class="hr-color">
                    <div class="second-div">

                          <ul class="Address" style="margin-top:2rem"><h4>Address</h4>
                                  <li><i class="fa fa-building-o" aria-hidden="true"></i> TQMECH ENGINEERING/TECH</li>
                                  <li> Kharghar,Navi Mumbai-420210.
                        
                                  </li>
                                   <li>
                                     <i class="fa fa-envelope-o" aria-hidden="true"></i > email: tqmechtech@gmail.com
                                  </li>
                                  <li>
                                    <i class="fa fa-phone" aria-hidden="true"></i> phone: +91 9422956011
                                  </li>
                           </ul>
                  
                          <ul class="bpo-login" style="margin-top:2rem">
                                  <h4>Log Services</h4>
                                  <li><a routerLink="/bpo"><i class="fa fa-chevron-right" aria-hidden="true"></i>BPO Login</a></li>
                                  <li><a  routerLink="/delivery-login"><i class="fa fa-chevron-right" aria-hidden="true"></i>Delivery Services Login</a></li>
                          </ul>
                     
                          <ul class="useful-info" style="margin-top:2rem">
                                  <h4>Useful Info</h4> 
                                  <li><a routerLink="/tandc"><i class="fa fa-chevron-right" aria-hidden="true"></i>Terms and Condition</a></li>
                    
                                  <li><a routerLink="/pandp"><i class="fa fa-chevron-right" aria-hidden="true"></i>policy and Privacy</a></li>
                                </ul>

                          <ul class="social-icon" style="margin-top:2rem"><h4>Follo Us On</h4>

                                <a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                                <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a>

                           </ul>
            
                        </div>
                             </div>
                         <div class="footer-bottom" style=" background-color: #3f51b5;">
                            Attaywalebaba@2021
                         </div>
                      </footer> -->
