
<!-- <div fxHide.xs fxHide.lt-md  class="parent_div"> -->
  <div  class="parent_div">
  <div class="child_div">
    <div style="display: flex; justify-content: center;align-items: center;">
      <h3 class="Refund_style">Customer's Received Order</h3>
      </div>
  <div class="fx_container">
   
  </div>
  <!-- table 1 start form here -->
  <div class="fx_container">
  <mat-form-field  class="search_box">
    <mat-label>Search Customer Info</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>
  </div>

<div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="orderDate">
      <th mat-header-cell *matHeaderCellDef>Orders Date </th>
      <td mat-cell *matCellDef="let element"> {{element.ordersDate}} </td>
    </ng-container>

    <!-- Symbol Column -->
   

    <ng-container matColumnDef="totalWeight">
      <th mat-header-cell *matHeaderCellDef> TotalWeight</th>
      <td mat-cell *matCellDef="let element"> {{element.totalWeight}} </td>
    </ng-container>

    <ng-container matColumnDef="totalTax">
      <th mat-header-cell *matHeaderCellDef> Total Tax </th>
      <td mat-cell *matCellDef="let element"> {{element.totalTax}} </td>
    </ng-container>

    <ng-container matColumnDef="deliveryCharges">
      <th mat-header-cell *matHeaderCellDef> Delivery Charges </th>
      <td mat-cell *matCellDef="let element"> {{element.deliveryCharges}} </td>
    </ng-container>

    <ng-container matColumnDef="FinalAmount">
      <th mat-header-cell *matHeaderCellDef>  Final Amount</th>
      <td mat-cell *matCellDef="let element"> {{element.FinalAmount}} </td>
    </ng-container>

    <ng-container matColumnDef="userID">
      <th mat-header-cell *matHeaderCellDef> User ID</th>
      <td mat-cell *matCellDef="let element"> {{element.userID |truncate:5}} </td>
    </ng-container>

    <ng-container matColumnDef="razorPaymentID">
      <th mat-header-cell *matHeaderCellDef> Razor Payment ID</th>
      <td mat-cell *matCellDef="let element"> {{element.razorPaymentID |truncate:1}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>
    <ng-container matColumnDef="track">
      <th mat-header-cell *matHeaderCellDef> Track </th>
      <td mat-cell *matCellDef="let element"> {{element.track}} </td>
    </ng-container>

    <!-- <ng-container matColumnDef="productDetails">
      <th mat-header-cell *matHeaderCellDef> Signal </th>
      <td mat-cell *matCellDef="let element"> {{element.state}} </td>
    </ng-container> -->

    <ng-container matColumnDef="productDetails">
      <th mat-header-cell *matHeaderCellDef></th>
      <mat-cell *matCellDef="let row" >
        <input  type="hidden" name="number" [value]="row._id" #co_ID>
        <div class="btn_view">
        <button style="background:rgb(59, 59, 235); color: white;" mat-raised-button (click)=" OrderDetails(co_ID)">view produclll</button>
       </div>
        <button (click)="openTracingPage()" style="width:118px; background:rgb(59, 59, 235); color: white;margin-left: 5px;"mat-button>Tracing Update</button>
      
     </mat-cell>
    </ng-container>
 

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="15">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
 
</div>
  <!-- table 2 end here -->
</div>
<div>
  <app-view-customer-order-product-details *ngIf="!expression"></app-view-customer-order-product-details>
</div>
</div>
<app-small-device-not-supported>

</app-small-device-not-supported>


<!--  -->