<!-- <div fxHide.gt.lg fxHide.lg fxHide.xl class="header-section" >
    <img src="" alt="">
    <div class="text_container">
      <div class="circle_container">
       <div class="circle"> 
           <div class="line">
                 <div class="arrow-up"></div>
                 <div class="arrow-down"></div>
                 <div class="small_circle"></div>
           </div>  
       </div>
      </div>
      <div class="Error_message">Small Screen Not Supported</div>
  <p style="font-size: 2vh; line-height: 3vh; font-weight: 300; "> BPO Section Doesn't Support Small Screen Like Mobile, Tablet. If Need to Access BPO Section Please Use PC Or Laptop</p> -->
    <!-- </div>
   
  </div> -->
 