<h2 style="font-weight: 400;" mat-dialog-title>Update Status of Product</h2>
<div style="height: auto;" mat-dialog-content>
    <ul>
        <li class="list">Customer Id :123456789999</li>
        <li class="list">____Order Id:1234567891478</li>
        <li class="list"><form action="">
            <mat-form-field class="example-full-width">
                <mat-label>Favorite food</mat-label>
                <input matInput placeholder="Ex. Pizza">
              </mat-form-field>
              <div mat-dialog-actions>
                <button mat-button mat-dialog-close>Close</button>
                <button mat-button mat-dialog-close>Save Update</button>
              </div>
             
            </form>
    </li>
    </ul>
</div>


