<div class="header_of_div_balck-backdrop" style="position:relative">
  <div class="box1 bg">
  </div>
  <div class="box2">
    <div class="black-card"></div>
    <img class="image-position" >

   <div class="black-card">
      <!-- <center><h1 style="font-weight: 100; font-size: 20px; letter-spacing: 3px;">Online Grain-Grinding System</h1>
     <p style="font-size:14px; font-weight: 100; letter-spacing: 2px;">Give an order Now</p></center> -->
     <span class="tag_big">KHAYAL APKI SEHAT KA!</span>
     <div class="container">
      <p class="animation_text" ><span  class="typed-text" #typetexT></span><span class="cursor">&nbsp;</span></p>
    </div>
   </div> 
   <div class="center">
    
  </div>
  </div>
</div>



      <!--About US Id is start from here-->
     <section id="about-us ">
       <div class="title">About Us!</div>
      
     </section>
     
		<!-- One -->
			<section id="one" class="wrapper style1">
				<div class="inner">
					<article class="feature left">
						<span class="image"><img src="https://raw.githubusercontent.com/TQ-Mech-Tech/product-images-file/master/5229.jpg" alt="" /></span>
						<div class="content">
							<h2>we are started to help the needy people with  attaywalebaba.com business </h2>
							<p>attaywallebaba.com is ready to help all needy and  families/ singles in thier routeen coocking work </p>
							<ul class="actions">
								<li>
									<a href="#" class="button alt">More</a>
								</li>
							</ul>
						</div>
					</article>
					<article class="feature right">
						<span class="image"><img src="https://raw.githubusercontent.com/TQ-Mech-Tech/product-images-file/main/pic02.jpg" alt="" /></span>
						<div class="content">
							<h2>In this fastes going world people are least concern about  their healthy so we the attaywalebaba has to take this oportunity to serve the nation  </h2>
							<p>in this regard we are setup attaywalebaba.com bussiness of providing helthier all types of grains flour to nuturising and boosting the emmunity of ours nation's people.   </p>
							<ul class="actions">
								<li>
									<a href="#" class="button alt">More</a>
								</li>
							</ul>
						</div>
					</article>
				</div>
			</section>

       <!-- What We Do!   first Id is start from here-->
     <section >
      <div class="title" >What We Do!</div> 
      <br>
      <div class="container-whatwedo">
          <br>
          <div class="item-box">
              <div class="one left first" >
                  <h2>Online grain-grinding System</h2>
                  <p>in our ataywalebaba.com business we take grains for granding from verious places as per customer's requirnment and after granding, the flour we make delivery at their assigned address with resonable service charges as well as we takes oreder from the customers to help them by supplying best quality flour with hygenic envirnment</div>
              <div class="two right div-image">
                   <img src="https://raw.githubusercontent.com/TQ-Mech-Tech/product-images-file/main/new/5.jpeg" alt=""> 
              </div>
          </div>
     
      
      <div class="item-box">
          <div class="three right div-image">
              <img src="https://raw.githubusercontent.com/TQ-Mech-Tech/product-images-file/main/new/6.jpeg" alt="">
          </div>
          <div class="four left second">
              <h2>why you need to choose us ? </h2>
              <ul style="list-style-type: circle;">
                     <li>we Take Grain's Order Online from Customer</li>
                     <li>Our Delivery Man Collect Grain From Your Door with covid-19 precaution </li>
                     <li>Sending grain to nearest Mill once grain grind packaging of flour with all precautions of covid-19 </li>
                     <li>delivery of flour within 48 hour to your door </li>
                     </ul>
                   
          </div>
      
      </div>
      
      <div class="item-box">
          <div class="five left third">
              <span>07 <sub>/sep</sub></span>
              <h2>Why we Innovate Attaywalebab.com</h2>
              <ul>
                <li>We innovate Attaywalebaba online Grian-Grind System due to Outbreack of Covid-19 </li>
                <li>Avoiding stress of going physically at Mill</li>
                <li>Making effeciency and saving of time of our customer </li>
                <li>No Need to customer to go at Chakki or Mill</li>
              </ul>
                
               
          </div>
          <div class="six right div-image">
              <img src="https://raw.githubusercontent.com/TQ-Mech-Tech/product-images-file/main/new/3.jpeg" alt="">
          </div>
      </div>
      
      
      <div class="item-box">
          <div class="seven right div-image">
              <img src="https://raw.githubusercontent.com/TQ-Mech-Tech/product-images-file/main/new/4.jpeg" alt="">
          </div>
          <div class="eight left fourth">
              <h2>How to give grain-grinding order</h2>
              <ul><li>Visit the www.Attywalebaba.com </li>
                  <li>Fill the Sign Up page or Register on Sign Up Page</li>
                   <li>Log In to Attaywalebab.com and fill the Your Profile </li>
                   <li>Now, Once Profile is Completed then Your ready to order</li>
                   <li>if you Give order then make payment online  </li>
                   <li>delivery Man will give Order </li>
                </ul>
          </div>
      </div>
      <div class="item-box">
          <div class="nine left fifth">
        <form action=""></form>
          </div>
      </div>
    </div> 
      </section>
     


      <!--Our Customer's Story   first Id is start from here-->
    




<!-- function type(typedTextSpan,cursorSpan,textArray,typingDelay,erasingDelay,newTextDelay,textArrayIndex,charIndex)
{
  if (charIndex < textArray[textArrayIndex].length) {
    if(!cursorSpan.classList.contains("typing")) cursorSpan.classList.add("typing");
    typedTextSpan.textContent += textArray[textArrayIndex].charAt(charIndex);
    charIndex++;
    setTimeout(type, typingDelay);
  }
  else {
    cursorSpan.classList.remove("typing");
  	setTimeout(erase, newTextDelay);
  }
} -->
