
<div class="xm-md" style="height:110vh; display: flex; justify-content: center; align-items: center;">
    <div class="container">
        <div style="position:absolute; top: 40px; display: flex; justify-content: center; align-items: center; color:blue;font-weight:600; ">
          <h1>Leave Feedback</h1>
          <hr>
        </div>
        
       
        <form class="example-form">
           
             
               
                    <mat-form-field  d class="example-full-width" >
                        <mat-label>Your name</mat-label>
                        <input matInput>
                   </mat-form-field>
              
           
                 
                    <mat-form-field  d class="example-full-width">
                        <mat-label>Your Email</mat-label>
                        <input matInput>
                    </mat-form-field>
            <p>
              <mat-form-field class="example-full-width">
                <mat-label>Your Subject</mat-label>
                <textarea matInput placeholder="Subject"></textarea>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label> Massage</mat-label>
                <textarea matInput></textarea>
              </mat-form-field>
            </p>
            <br>
            <hr>
            <button mat-button class="feedback-btn" color="primary" >Feedback </button>
            
          </form>
    </div>
   
</div>